# Exploring Alpha Vantage API

### Imports- **Run First**

In [2]:
#open file with your API key
with open('Alpha_Vintage_API_key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [3]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [4]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [5]:
#get weekly stock data of Apple in DataFrame format
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey=' + str(API_key) + '&datatype=csv'
r = requests.get(url).content
data = pd.read_csv(io.StringIO(r.decode('utf-8')))

print(data)

       timestamp     open      high      low   close     volume
0     2024-05-24  189.325  192.8231  186.625  189.98  208652122
1     2024-05-17  185.435  191.0950  184.620  189.87  288966571
2     2024-05-10  182.354  185.0900  180.420  183.05  300674993
3     2024-05-03  173.370  187.0000  169.110  183.38  441926366
4     2024-04-26  165.515  171.3400  164.770  169.30  241302722
...          ...      ...       ...      ...     ...        ...
1276  1999-12-10  114.560  118.0000   99.000  103.00   25152800
1277  1999-12-03   94.250  115.5600   93.250  115.00   28046300
1278  1999-11-26   91.750   95.5000   88.500   95.06    9757600
1279  1999-11-19   89.620   94.7500   88.060   92.44   13711000
1280  1999-11-12   87.750   97.7300   86.750   90.62   25776200

[1281 rows x 6 columns]

In [6]:
#get head of data
data.head(10)

    timestamp     open      high       low   close     volume
0  2024-05-24  189.325  192.8231  186.6250  189.98  208652122
1  2024-05-17  185.435  191.0950  184.6200  189.87  288966571
2  2024-05-10  182.354  185.0900  180.4200  183.05  300674993
3  2024-05-03  173.370  187.0000  169.1100  183.38  441926366
4  2024-04-26  165.515  171.3400  164.7700  169.30  241302722
5  2024-04-19  175.360  176.6300  164.0750  165.00  309416498
6  2024-04-12  169.030  178.3600  167.1100  176.55  321898799
7  2024-04-05  171.190  171.9200  168.2302  169.58  233688457
8  2024-03-28  170.565  173.6000  169.4500  171.48  237622732
9  2024-03-22  175.570  178.6700  170.0600  172.28  361583938

#### Python Package Method

In [7]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday('AAPL')

In [8]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2024-05-24 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [9]:
#print data
apple1

{'2024-05-24 19:45:00': {'1. open': '189.9300',
  '2. high': '190.0900',
  '3. low': '189.9300',
  '4. close': '189.9500',
  '5. volume': '5878'},
 '2024-05-24 19:30:00': {'1. open': '189.9100',
  '2. high': '189.9900',
  '3. low': '189.9100',
  '4. close': '189.9300',
  '5. volume': '3866'},
 '2024-05-24 19:15:00': {'1. open': '190.0100',
  '2. high': '190.0400',
  '3. low': '189.9000',
  '4. close': '189.9900',
  '5. volume': '2438'},
 '2024-05-24 19:00:00': {'1. open': '190.0950',
  '2. high': '190.1000',
  '3. low': '190.0000',
  '4. close': '190.0300',
  '5. volume': '2044'},
 '2024-05-24 18:45:00': {'1. open': '189.9900',
  '2. high': '190.1000',
  '3. low': '189.9100',
  '4. close': '190.1000',
  '5. volume': '4822'},
 '2024-05-24 18:30:00': {'1. open': '190.0000',
  '2. high': '190.0000',
  '3. low': '189.9500',
  '4. close': '189.9750',
  '5. volume': '11066'},
 '2024-05-24 18:15:00': {'1. open': '190.0000',
  '2. high': '190.0000',
  '3. low': '189.9800',
  '4. close': '190.0000',
  '5. volume': '1738'},
 '2024-05-24 18:00:00': {'1. open': '190.0000',
  '2. high': '190.0000',
  '3. low': '189.9800',
  '4. close': '189.9950',
  '5. volume': '2690'},
 '2024-05-24 17:45:00': {'1. open': '189.9900',
  '2. high': '190.0000',
  '3. low': '189.9800',
  '4. close': '189.9950',
  '5. volume': '7962'},
 '2024-05-24 17:30:00': {'1. open': '189.9800',
  '2. high': '190.0000',
  '3. low': '189.9800',
  '4. close': '189.9900',
  '5. volume': '2065'},
 '2024-05-24 17:15:00': {'1. open': '189.9900',
  '2. high': '190.0500',
  '3. low': '189.9800',
  '4. close': '189.9800',
  '5. volume': '3224'},
 '2024-05-24 17:00:00': {'1. open': '189.9950',
  '2. high': '190.4110',
  '3. low': '189.0100',
  '4. close': '189.9800',
  '5. volume': '4555'},
 '2024-05-24 16:45:00': {'1. open': '190.0200',
  '2. high': '190.0200',
  '3. low': '189.9900',
  '4. close': '189.9900',
  '5. volume': '5392'},
 '2024-05-24 16:30:00': {'1. open': '190.0000',
  '2. high': '190.0300',
  '3. low': '189.9800',
  '4. close': '190.0000',
  '5. volume': '74557'},
 '2024-05-24 16:15:00': {'1. open': '190.0000',
  '2. high': '190.0300',
  '3. low': '189.2820',
  '4. close': '190.0050',
  '5. volume': '251602'},
 '2024-05-24 16:00:00': {'1. open': '190.0200',
  '2. high': '190.0280',
  '3. low': '189.9500',
  '4. close': '190.0000',
  '5. volume': '11452373'},
 '2024-05-24 15:45:00': {'1. open': '189.9800',
  '2. high': '190.0900',
  '3. low': '189.8200',
  '4. close': '190.0000',
  '5. volume': '2576173'},
 '2024-05-24 15:30:00': {'1. open': '190.0850',
  '2. high': '190.2400',
  '3. low': '189.9500',
  '4. close': '189.9870',
  '5. volume': '948672'},
 '2024-05-24 15:15:00': {'1. open': '190.1200',
  '2. high': '190.2100',
  '3. low': '190.0200',
  '4. close': '190.0900',
  '5. volume': '688208'},
 '2024-05-24 15:00:00': {'1. open': '190.2000',
  '2. high': '190.2900',
  '3. low': '189.9350',
  '4. close': '190.1250',
  '5. volume': '893896'},
 '2024-05-24 14:45:00': {'1. open': '190.3200',
  '2. high': '190.3850',
  '3. low': '190.2000',
  '4. close': '190.2100',
  '5. volume': '602364'},
 '2024-05-24 14:30:00': {'1. open': '190.1500',
  '2. high': '190.3900',
  '3. low': '190.1030',
  '4. close': '190.3270',
  '5. volume': '561119'},
 '2024-05-24 14:15:00': {'1. open': '190.3800',
  '2. high': '190.4650',
  '3. low': '190.1450',
  '4. close': '190.1500',
  '5. volume': '799657'},
 '2024-05-24 14:00:00': {'1. open': '190.0750',
  '2. high': '190.4300',
  '3. low': '190.0550',
  '4. close': '190.3900',
  '5. volume': '777852'},
 '2024-05-24 13:45:00': {'1. open': '190.2300',
  '2. high': '190.3000',
  '3. low': '190.0600',
  '4. close': '190.0750',
  '5. volume': '870327'},
 '2024-05-24 13:30:00': {'1. open': '190.4200',
  '2. high': '190.4200',
  '3. low': '190.1750',
  '4. close': '190.2300',
  '5. volume': '622185'},
 '2024-05-24 13:15:00': {'1. open': '190.3700',
  '2. high': '190.5600',
  '3. low': '190.2600',
  '4. close': '190.4150',
  '5. volume': '542490'},
 '2024-05-24 13:00:00': {'1. open': '190.3600',
  '2. high': '190.4320',
  '3. low': '190.2510',
  '4. close': '190.3600',
  '5. volume': '618236'},
 '2024-05-24 12:45:00': {'1. open': '190.4360',
  '2. high': '190.5500',
  '3. low': '190.2300',
  '4. close': '190.3550',
  '5. volume': '702411'},
 '2024-05-24 12:30:00': {'1. open': '190.3800',
  '2. high': '190.5200',
  '3. low': '190.3200',
  '4. close': '190.4350',
  '5. volume': '614546'},
 '2024-05-24 12:15:00': {'1. open': '190.3100',
  '2. high': '190.5800',
  '3. low': '190.2700',
  '4. close': '190.3800',
  '5. volume': '1022076'},
 '2024-05-24 12:00:00': {'1. open': '190.1750',
  '2. high': '190.4200',
  '3. low': '190.1600',
  '4. close': '190.3100',
  '5. volume': '846558'},
 '2024-05-24 11:45:00': {'1. open': '190.1100',
  '2. high': '190.2800',
  '3. low': '189.9900',
  '4. close': '190.1750',
  '5. volume': '653899'},
 '2024-05-24 11:30:00': {'1. open': '190.1100',
  '2. high': '190.1700',
  '3. low': '189.7300',
  '4. close': '190.1150',
  '5. volume': '1027994'},
 '2024-05-24 11:15:00': {'1. open': '189.9800',
  '2. high': '190.2900',
  '3. low': '189.8000',
  '4. close': '190.1200',
  '5. volume': '1263201'},
 '2024-05-24 11:00:00': {'1. open': '189.7500',
  '2. high': '190.1050',
  '3. low': '189.6500',
  '4. close': '189.9600',
  '5. volume': '1433132'},
 '2024-05-24 10:45:00': {'1. open': '189.4400',
  '2. high': '189.7500',
  '3. low': '189.3600',
  '4. close': '189.7400',
  '5. volume': '954174'},
 '2024-05-24 10:30:00': {'1. open': '189.5150',
  '2. high': '189.6600',
  '3. low': '189.2600',
  '4. close': '189.4360',
  '5. volume': '1210734'},
 '2024-05-24 10:15:00': {'1. open': '188.7400',
  '2. high': '189.5200',
  '3. low': '188.7200',
  '4. close': '189.5200',
  '5. volume': '1769290'},
 '2024-05-24 10:00:00': {'1. open': '188.7500',
  '2. high': '189.1100',
  '3. low': '188.6700',
  '4. close': '188.7300',
  '5. volume': '1538300'},
 '2024-05-24 09:45:00': {'1. open': '188.3300',
  '2. high': '188.7950',
  '3. low': '188.1600',
  '4. close': '188.7500',
  '5. volume': '1915968'},
 '2024-05-24 09:30:00': {'1. open': '188.8200',
  '2. high': '189.1860',
  '3. low': '188.0400',
  '4. close': '188.3300',
  '5. volume': '3502533'},
 '2024-05-24 09:15:00': {'1. open': '188.2300',
  '2. high': '188.9000',
  '3. low': '188.1700',
  '4. close': '188.8000',
  '5. volume': '59696'},
 '2024-05-24 09:00:00': {'1. open': '188.2400',
  '2. high': '188.4500',
  '3. low': '173.0300',
  '4. close': '188.1700',
  '5. volume': '31106'},
 '2024-05-24 08:45:00': {'1. open': '188.3900',
  '2. high': '190.9700',
  '3. low': '188.0600',
  '4. close': '188.2340',
  '5. volume': '27433'},
 '2024-05-24 08:30:00': {'1. open': '187.7600',
  '2. high': '188.4000',
  '3. low': '186.8800',
  '4. close': '188.4000',
  '5. volume': '55572'},
 '2024-05-24 08:15:00': {'1. open': '188.0000',
  '2. high': '188.0000',
  '3. low': '187.7100',
  '4. close': '187.9000',
  '5. volume': '16908'},
 '2024-05-24 08:00:00': {'1. open': '189.4800',
  '2. high': '189.4800',
  '3. low': '186.8800',
  '4. close': '188.0000',
  '5. volume': '78694'},
 '2024-05-24 07:45:00': {'1. open': '188.0200',
  '2. high': '188.0900',
  '3. low': '187.9200',
  '4. close': '188.0300',
  '5. volume': '10083'},
 '2024-05-24 07:30:00': {'1. open': '188.1400',
  '2. high': '188.1500',
  '3. low': '188.0000',
  '4. close': '188.0600',
  '5. volume': '7150'},
 '2024-05-24 07:15:00': {'1. open': '188.2500',
  '2. high': '188.3500',
  '3. low': '188.0200',
  '4. close': '188.0700',
  '5. volume': '16278'},
 '2024-05-24 07:00:00': {'1. open': '188.3500',
  '2. high': '188.4200',
  '3. low': '188.1000',
  '4. close': '188.2800',
  '5. volume': '21604'},
 '2024-05-24 06:45:00': {'1. open': '188.3000',
  '2. high': '188.4300',
  '3. low': '188.3000',
  '4. close': '188.3500',
  '5. volume': '3730'},
 '2024-05-24 06:30:00': {'1. open': '188.2300',
  '2. high': '188.3400',
  '3. low': '188.2300',
  '4. close': '188.3400',
  '5. volume': '3098'},
 '2024-05-24 06:15:00': {'1. open': '188.2500',
  '2. high': '188.2600',
  '3. low': '188.2000',
  '4. close': '188.2300',
  '5. volume': '2116'},
 '2024-05-24 06:00:00': {'1. open': '188.1700',
  '2. high': '188.2900',
  '3. low': '188.1500',
  '4. close': '188.2500',
  '5. volume': '3620'},
 '2024-05-24 05:45:00': {'1. open': '188.1400',
  '2. high': '188.1900',
  '3. low': '188.0700',
  '4. close': '188.1800',
  '5. volume': '2076'},
 '2024-05-24 05:30:00': {'1. open': '188.1800',
  '2. high': '188.2100',
  '3. low': '188.0700',
  '4. close': '188.1600',
  '5. volume': '3757'},
 '2024-05-24 05:15:00': {'1. open': '188.2600',
  '2. high': '188.3200',
  '3. low': '188.1000',
  '4. close': '188.2000',
  '5. volume': '2216'},
 '2024-05-24 05:00:00': {'1. open': '188.4200',
  '2. high': '188.4500',
  '3. low': '188.2400',
  '4. close': '188.3200',
  '5. volume': '5479'},
 '2024-05-24 04:45:00': {'1. open': '188.5300',
  '2. high': '188.6500',
  '3. low': '188.4000',
  '4. close': '188.4000',
  '5. volume': '6853'},
 '2024-05-24 04:30:00': {'1. open': '188.3000',
  '2. high': '188.6300',
  '3. low': '188.2400',
  '4. close': '188.5300',
  '5. volume': '14453'},
 '2024-05-24 04:15:00': {'1. open': '188.1500',
  '2. high': '188.4000',
  '3. low': '188.1200',
  '4. close': '188.3200',
  '5. volume': '16197'},
 '2024-05-24 04:00:00': {'1. open': '187.1000',
  '2. high': '188.1600',
  '3. low': '187.1000',
  '4. close': '188.1600',
  '5. volume': '18066'},
 '2024-05-23 19:45:00': {'1. open': '187.2000',
  '2. high': '187.2900',
  '3. low': '187.1000',
  '4. close': '187.1100',
  '5. volume': '11243'},
 '2024-05-23 19:30:00': {'1. open': '187.1100',
  '2. high': '187.2100',
  '3. low': '187.0800',
  '4. close': '187.1700',
  '5. volume': '5587'},
 '2024-05-23 19:15:00': {'1. open': '187.1950',
  '2. high': '187.2800',
  '3. low': '187.1100',
  '4. close': '187.1800',
  '5. volume': '8201'},
 '2024-05-23 19:00:00': {'1. open': '187.2250',
  '2. high': '187.2900',
  '3. low': '187.0600',
  '4. close': '187.1900',
  '5. volume': '4902'},
 '2024-05-23 18:45:00': {'1. open': '187.2200',
  '2. high': '187.3000',
  '3. low': '187.1600',
  '4. close': '187.2250',
  '5. volume': '12609'},
 '2024-05-23 18:30:00': {'1. open': '187.1800',
  '2. high': '187.2900',
  '3. low': '187.1000',
  '4. close': '187.2250',
  '5. volume': '5240'},
 '2024-05-23 18:15:00': {'1. open': '187.1050',
  '2. high': '187.3800',
  '3. low': '187.0700',
  '4. close': '187.1800',
  '5. volume': '11772'},
 '2024-05-23 18:00:00': {'1. open': '187.0500',
  '2. high': '187.2300',
  '3. low': '187.0100',
  '4. close': '187.1400',
  '5. volume': '15606'},
 '2024-05-23 17:45:00': {'1. open': '186.9100',
  '2. high': '187.1400',
  '3. low': '186.9100',
  '4. close': '187.0100',
  '5. volume': '9688'},
 '2024-05-23 17:30:00': {'1. open': '187.0800',
  '2. high': '187.0800',
  '3. low': '186.8800',
  '4. close': '186.9150',
  '5. volume': '10877'},
 '2024-05-23 17:15:00': {'1. open': '186.9500',
  '2. high': '187.0800',
  '3. low': '186.9100',
  '4. close': '187.0800',
  '5. volume': '6887'},
 '2024-05-23 17:00:00': {'1. open': '186.9850',
  '2. high': '187.0700',
  '3. low': '186.8800',
  '4. close': '186.9300',
  '5. volume': '107272'},
 '2024-05-23 16:45:00': {'1. open': '186.9600',
  '2. high': '186.9900',
  '3. low': '174.4630',
  '4. close': '186.9900',
  '5. volume': '278256'},
 '2024-05-23 16:30:00': {'1. open': '186.8800',
  '2. high': '187.0400',
  '3. low': '186.8100',
  '4. close': '186.9500',
  '5. volume': '13350'},
 '2024-05-23 16:15:00': {'1. open': '186.9600',
  '2. high': '187.8440',
  '3. low': '186.8800',
  '4. close': '186.8900',
  '5. volume': '23128'},
 '2024-05-23 16:00:00': {'1. open': '186.8600',
  '2. high': '192.5100',
  '3. low': '186.6200',
  '4. close': '192.5100',
  '5. volume': '19439017'},
 '2024-05-23 15:45:00': {'1. open': '187.2800',
  '2. high': '187.3000',
  '3. low': '186.6250',
  '4. close': '186.9100',
  '5. volume': '4130442'},
 '2024-05-23 15:30:00': {'1. open': '187.6200',
  '2. high': '187.8300',
  '3. low': '187.1800',
  '4. close': '187.2850',
  '5. volume': '1651745'},
 '2024-05-23 15:15:00': {'1. open': '187.4950',
  '2. high': '187.6800',
  '3. low': '187.3250',
  '4. close': '187.6200',
  '5. volume': '1616909'},
 '2024-05-23 15:00:00': {'1. open': '187.2700',
  '2. high': '187.5700',
  '3. low': '187.2100',
  '4. close': '187.4900',
  '5. volume': '1137024'},
 '2024-05-23 14:45:00': {'1. open': '187.5400',
  '2. high': '187.6400',
  '3. low': '187.1600',
  '4. close': '187.2700',
  '5. volume': '879525'},
 '2024-05-23 14:30:00': {'1. open': '187.7000',
  '2. high': '187.8000',
  '3. low': '187.4150',
  '4. close': '187.5350',
  '5. volume': '916857'},
 '2024-05-23 14:15:00': {'1. open': '187.6800',
  '2. high': '187.8700',
  '3. low': '187.3300',
  '4. close': '187.7050',
  '5. volume': '1219809'},
 '2024-05-23 14:00:00': {'1. open': '187.5900',
  '2. high': '187.7400',
  '3. low': '187.3100',
  '4. close': '187.6800',
  '5. volume': '1334772'},
 '2024-05-23 13:45:00': {'1. open': '187.9130',
  '2. high': '187.9800',
  '3. low': '187.5600',
  '4. close': '187.5950',
  '5. volume': '1192724'},
 '2024-05-23 13:30:00': {'1. open': '188.6500',
  '2. high': '188.6850',
  '3. low': '187.7300',
  '4. close': '187.8980',
  '5. volume': '1427856'},
 '2024-05-23 13:15:00': {'1. open': '188.9350',
  '2. high': '188.9350',
  '3. low': '188.4200',
  '4. close': '188.6400',
  '5. volume': '1004306'},
 '2024-05-23 13:00:00': {'1. open': '188.7800',
  '2. high': '190.5920',
  '3. low': '188.6000',
  '4. close': '188.9360',
  '5. volume': '943502'},
 '2024-05-23 12:45:00': {'1. open': '189.2150',
  '2. high': '189.2160',
  '3. low': '188.7500',
  '4. close': '188.7900',
  '5. volume': '931072'},
 '2024-05-23 12:30:00': {'1. open': '189.5250',
  '2. high': '189.6000',
  '3. low': '189.2050',
  '4. close': '189.2200',
  '5. volume': '747965'},
 '2024-05-23 12:15:00': {'1. open': '189.4280',
  '2. high': '189.5900',
  '3. low': '189.4250',
  '4. close': '189.5250',
  '5. volume': '641572'},
 '2024-05-23 12:00:00': {'1. open': '189.6850',
  '2. high': '189.6900',
  '3. low': '189.2600',
  '4. close': '189.4390',
  '5. volume': '802474'},
 '2024-05-23 11:45:00': {'1. open': '189.2900',
  '2. high': '189.7100',
  '3. low': '189.2700',
  '4. close': '189.6850',
  '5. volume': '972965'},
 '2024-05-23 11:30:00': {'1. open': '189.4550',
  '2. high': '189.4750',
  '3. low': '189.0700',
  '4. close': '189.2980',
  '5. volume': '814117'},
 '2024-05-23 11:15:00': {'1. open': '189.4040',
  '2. high': '189.5900',
  '3. low': '189.3400',
  '4. close': '189.4500',
  '5. volume': '804294'},
 '2024-05-23 11:00:00': {'1. open': '188.7300',
  '2. high': '189.6300',
  '3. low': '188.6800',
  '4. close': '189.4050',
  '5. volume': '1132922'}}

In [10]:
#store data into a DataFrame
df_apple1 = pd.DataFrame(apple1).transpose().reset_index()
df_apple1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2024-05-24 19:45:00  189.9300  190.0900  189.9300  189.9500      5878
1  2024-05-24 19:30:00  189.9100  189.9900  189.9100  189.9300      3866
2  2024-05-24 19:15:00  190.0100  190.0400  189.9000  189.9900      2438
3  2024-05-24 19:00:00  190.0950  190.1000  190.0000  190.0300      2044
4  2024-05-24 18:45:00  189.9900  190.1000  189.9100  190.1000      4822

In [11]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key = API_key, output_format = 'pandas')

In [12]:
# display new intraday stock data
ts2.get_intraday('AAPL')

(                     1. open  2. high  3. low  4. close  5. volume
 date
 2024-05-24 19:45:00  189.930  190.090  189.93   189.950     5878.0
 2024-05-24 19:30:00  189.910  189.990  189.91   189.930     3866.0
 2024-05-24 19:15:00  190.010  190.040  189.90   189.990     2438.0
 2024-05-24 19:00:00  190.095  190.100  190.00   190.030     2044.0
 2024-05-24 18:45:00  189.990  190.100  189.91   190.100     4822.0
 ...                      ...      ...     ...       ...        ...
 2024-05-23 12:00:00  189.685  189.690  189.26   189.439   802474.0
 2024-05-23 11:45:00  189.290  189.710  189.27   189.685   972965.0
 2024-05-23 11:30:00  189.455  189.475  189.07   189.298   814117.0
 2024-05-23 11:15:00  189.404  189.590  189.34   189.450   804294.0
 2024-05-23 11:00:00  188.730  189.630  188.68   189.405  1132922.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2024-05-24 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [13]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday('AAPL', outputsize = 'full')

In [14]:
#print meta_data
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2024-05-24 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [15]:
#print data with reset index
df_apple2.reset_index()

                    date  1. open  2. high   3. low  4. close  5. volume
0    2024-05-24 19:45:00  189.930  190.090  189.930   189.950     5878.0
1    2024-05-24 19:30:00  189.910  189.990  189.910   189.930     3866.0
2    2024-05-24 19:15:00  190.010  190.040  189.900   189.990     2438.0
3    2024-05-24 19:00:00  190.095  190.100  190.000   190.030     2044.0
4    2024-05-24 18:45:00  189.990  190.100  189.910   190.100     4822.0
...                  ...      ...      ...      ...       ...        ...
1275 2024-04-29 05:00:00  171.768  172.207  171.568   171.857    23972.0
1276 2024-04-29 04:45:00  171.368  171.988  171.118   171.768    36515.0
1277 2024-04-29 04:30:00  171.378  171.508  171.268   171.368    21352.0
1278 2024-04-29 04:15:00  171.548  171.608  171.268   171.378     9992.0
1279 2024-04-29 04:00:00  171.628  171.898  170.249   171.638    57669.0

[1280 rows x 6 columns]